<div class="flex flex-col gap-8 items-stretch mx-8 mt-20">
  @for (event of sortedEvents(); track event.id; let even = $even) {
    <div
      [routerLink]="[event.id]"

      class="flex flex-row bg-white rounded-2xl overflow-hidden shadow-md hover:scale-105 active:scale-95 cursor-pointer hover:shadow-2xl transition"
      [class.flex-row-reverse]="even"
    >

      @if (event.image) {
        <img
          [alt]="event.name"
          class="aspect-[3/2] max-w-72 object-cover "
          draggable="false"
          [src]="event.image"
        />
      }
      <div class="flex-1 m-5">
        <h3 class="text-xl font-bold">
          {{ event.name }}
        </h3>
        <p>
          in {{ formatDistance(event.dateTime, Date.now()) }} ({{ event.dateTime | date: 'MMMM dd' }})
        </p>
        <hr class="my-2"/>
        <markdown class="line-clamp-3" [data]="event.description"/>
      </div>
    </div>
  }
</div>
