<div class="w-full bg-red-200 flex flex-row gap-10 items-center justify-center py-10 px-4 mt-16 shadow-md">
  <a class="flex flex-row gap-2 items-center hover:scale-105 transition hover:drop-shadow-xl"
     href="https://www.linkedin.com/company/arts-student-association"
     target="_blank">
    <div class="p-2 rounded-full border border-solid border-black">
      <img alt="LinkedIn" class="w-4 h-4"
           src="assets/images/footer/linkedin.svg"/>
    </div>
    Linkedin
  </a>
  <a class="flex flex-row gap-2 items-center hover:scale-105 transition hover:drop-shadow-xl"
     href="https://www.instagram.com/asa_uoa/"
     target="_blank">
    <div class="p-2 rounded-full border border-solid border-black">
      <img alt="Instagram" class="w-4 h-4"
           src="assets/images/footer/instagram.svg"/>
    </div>
    Instagram
  </a>
</div>
