<img [routerLink]="['/']" alt="ASA Logo" class="h-[40px] mr-auto cursor-pointer" draggable="false"
     src="assets/images/logo-black.png"/>

<div
  (click)="open.set(false)"
  [ngClass]="open() ? 'absolute top-full w-full bg-white left-0 p-6 rounded-b-3xl space-y-4 drop-shadow-md' : 'hidden sm:flex flex-row space-x-4'"
>
  <div [ngClass]="open() ? 'text-lg' : 'btn'" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="'active'"
       [routerLink]="['/']">
    Home
  </div>
  <div [ngClass]="open() ? 'text-lg' : 'btn'" [routerLinkActive]="'active'" [routerLink]="['/events']">
    Events
  </div>
  <div [ngClass]="open() ? 'text-lg' : 'btn'" [routerLinkActive]="'active'" [routerLink]="['/team']">
    Team
  </div>
  <div (click)="openSignup.click()" [ngClass]="open() ? 'text-lg' : 'btn'">
    <a
      #openSignup
      href="https://forms.gle/vuBU7Y6Hrhm88R6F8"
      target="_blank">
      Sign up!
    </a>
  </div>
</div>

<svg (click)="open.set(!open())" class="size-8 cursor-pointer sm:hidden block" fill="none" id="menu-button"
     stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  <path d="M4 6h16M4 12h16M4 18h16" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
</svg>
