<div class="h-[450px] w-full max-h-svh bg-red-200 grid place-items-center">
  <img alt="asa-uoa-logo" class="h-[40%]" src="assets/images/logo-red.png"/>
</div>

<div class="px-6 py-12 text-center">
  @if (upcomingEvents()[0]; as nextEvent) {
    @if (nextEvent.dateTime.getDate() === today()) {
      <h2 class="text-2xl">
        Today's Event
      </h2>
    } @else {
      <h2 class="text-2xl">
        Next Event
      </h2>
      <h1 class="text-4xl font-extrabold">
        {{ nextEvent.name }}
      </h1>
      <p>
        <app-countdown [timeLeft]="timeLeft() / 1000"/>
      </p>
    }
  }
</div>

<div class="px-6 mx-auto max-w-[800px] mb-20 space-y-8">
  <div class="flex flex-row justify-between items-center">
    <h2 class="text-2xl">
      Upcoming Events
    </h2>
    <a class="btn">
      View all events
    </a>
  </div>
  <div class="flex flex-row gap-4">
    @for (event of upcomingEvents(); track event.id; let first = $first) {
      <div
        class="bg-white rounded-2xl overflow-hidden shadow-md space-y-3 pb-4 max-w-72 hover:scale-105 active:scale-95 cursor-pointer hover:shadow-2xl transition">
        <img
          [alt]="event.name"
          class="aspect-[3/2]"
          draggable="false"
          [src]="event.image"
        />
        <h3 class="text-xl font-bold mx-5">
          {{ event.name }}
        </h3>
        <p class="mx-5">
          {{ event.dateTime | date: 'EEEE d MMMM' }}
        </p>
      </div>
    }
  </div>
</div>

<div class="px-6 mx-auto max-w-[800px] mb-20 space-y-8">
  <div class="flex flex-row justify-between items-center">
    <h2 class="text-2xl">
      Executive Team
    </h2>
    <a class="btn">
      View all team members
    </a>
  </div>
  @if (president(); as president) {
    <div>
      <app-home-team-card [teamMember]="president"/>
    </div>
  }
  <div class="flex flex-row gap-4 justify-evenly mt-3">
    @for (member of restOfTeam(); track member.id) {
      <app-home-team-card [teamMember]="member"/>
    }
  </div>
</div>


