<div class="h-[450px] w-full max-h-svh bg-red-200 grid place-items-center">
  <img class="h-[40%]" src="assets/images/logo-red.png"/>
</div>

<div class="px-6 py-12 text-center">
  @if (upcomingEvents()[0]; as nextEvent) {
    <h2 class="text-xl">
      Next Event coming!
    </h2>
    <h1 class="text-4xl font-extrabold">
      {{ nextEvent.name }}
    </h1>
    <p>
      <app-countdown [timeLeft]="60*60*24 + 3"/>
    </p>
  }
</div>

<div>
  <h2>
    Upcoming Events
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    @for (event of upcomingEvents(); track event.id; let first = $first) {
      @if (!first) {
        <div class="bg-white p-4 rounded-lg shadow-md">
          <h3>
            {{ event.name }}
          </h3>
          <p>
            {{ event.dateTime }}
          </p>
        </div>
      }
    }
  </div>
</div>

<div>
  <h2>
    Team
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    @for (member of api.team(); track member.id) {
      <div class="bg-white p-4 rounded-lg shadow-md">
        <h3>
          {{ member.name }}
        </h3>
        <p>
          {{ member.role }}
        </p>
      </div>
    }
  </div>

  <div>
    <a routerLink="/team">View all Team Members</a>
  </div>
</div>


